body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  margin: 0;
}
body * {
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 70px 1fr;
  grid-template-areas: "side-menu header header" "side-menu main main";
  height: 100vh;
}
.grid-container .header {
  grid-area: header;
}
.grid-container .side-menu {
  grid-area: side-menu;
}
.grid-container .main {
  grid-area: main;
}

.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d0d7e1;
}
.header__search {
  display: flex;
  color: #d0d7e1;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}
.header__search input {
  outline: none;
  border: none;
}
.header__profile {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #d0d7e1;
  padding: 20px;
}
.header__profile .user-name-role {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.side-menu {
  background-color: #273657;
  color: #eef2f6;
  padding: 20px;
}

.menu-items-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: inherit;
}
.menu-items-list .list-item {
  line-height: 3.6em;
}
.menu-items-list .list-item .anchor-tag {
  display: block;
  color: inherit;
  text-decoration: none;
}
.menu-items-list .list-item .anchor-tag:hover {
  font-weight: bolder;
}

.main-overview {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
  grid-auto-rows: 120px;
  grid-gap: 20px;
  margin: 20px;
}

.main-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(470px, 1fr));
  grid-template-areas: "recent-entries craft-news" "recent-entries support-cards";
  grid-gap: 20px;
  margin: 20px;
}
.main-cards .support-cards {
  grid-area: support-cards;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
  grid-auto-rows: 120px;
  grid-gap: 20px;
}

@media only screen and (max-width: 1050px) {
  .main-cards {
    grid-template-areas: "recent-entries" "craft-news" "support-cards";
  }
}
.card-icon-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "card-icon card-title" "card-icon card-value";
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px 2px #d0d7e1;
}
.card-icon-container .card-icon {
  grid-area: card-icon;
  justify-self: center;
  margin: 0 20px;
}
.card-icon-container .card-title {
  grid-area: card-title;
  align-self: end;
  margin-bottom: 8px;
  color: #8e8e8f;
}
.card-icon-container .card-value {
  grid-area: card-value;
  align-self: start;
  font-weight: bolder;
}

.recent-entries {
  grid-area: recent-entries;
  border-radius: 8px;
  box-shadow: 0 4px 8px 2px #d0d7e1;
  padding: 20px;
}

.craft-news {
  grid-area: craft-news;
  border-radius: 8px;
  box-shadow: 0 4px 8px 2px #d0d7e1;
  padding: 20px;
}

.table {
  border-collapse: collapse;
  width: 100%;
}
.table .table-data-row {
  border-bottom: 1px solid #d0d7e1;
  height: 40px;
}
.table .table-data-date {
  padding: 8px;
}
.table .table-data-member {
  padding: 8px;
}
.table .table-data-products {
  color: #0076ff;
}

/*# sourceMappingURL=main.css.map */
