.card-icon-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "card-icon card-title" "card-icon card-value";
  align-items: center;
  border-radius: 8px;
  box-shadow: 4px 4px 8px #d0d7e1;
}
.card-icon-container .card-icon {
  grid-area: card-icon;
  justify-self: center;
  margin: 0 20px;
}
.card-icon-container .card-title {
  grid-area: card-title;
  align-self: end;
  margin-bottom: 8px;
  color: #8e8e8f;
}
.card-icon-container .card-value {
  grid-area: card-value;
  align-self: start;
  font-weight: bolder;
}

/*# sourceMappingURL=card.css.map */
