@import "../abstract/variables";
.card-icon-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
      'card-icon card-title'
      'card-icon card-value';
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px 2px $lightGray;

  .card-icon {
    grid-area: card-icon;
    justify-self: center;
    margin: 0 20px;
  }

  .card-title {
    grid-area: card-title;
    align-self: end;
    margin-bottom: 8px;
    color: $mellowGray;
  }

  .card-value {
    grid-area: card-value;
    align-self: start;
    font-weight: bolder;
  }
}
