@import "../abstract/variables";

.main-overview {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
  grid-auto-rows: 120px;
  grid-gap: 20px;
  margin: 20px;
}

.main-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(470px, 1fr));
  grid-template-areas:
      'recent-entries craft-news'
      'recent-entries support-cards';
  grid-gap: 20px;
  margin: 20px;

  .support-cards {
    grid-area: support-cards;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
    grid-auto-rows: 120px;
    grid-gap: 20px;
  }
}
@media only screen and (max-width: 1050px) {
  .main-cards {
    grid-template-areas:
      'recent-entries'
      'craft-news'
      'support-cards';
  }
}