.main-overview {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
  grid-auto-rows: 120px;
  grid-gap: 20px;
  margin: 20px;
}

/*# sourceMappingURL=dashboard-grid.css.map */
