@import "../abstract/variables";
.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $lightGray;

  &__search {
    display: flex;
    color: $lightGray;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    input {
      outline: none;
      border: none;
    }
  }

  &__profile {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid $lightGray;
    padding: 20px;
    .user-name-role {
      display: flex;
      flex-direction: column;
      padding: 10px;
    }
  }
}