@import "../abstract/variables";
.side-menu {
  background-color: $darkblue;
  color: $lighterGray;
  padding: 20px;
}

.menu-items {
  &-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: inherit;
    .list-item {
      line-height: 3.6em;
      .anchor-tag {
        display: block;
        color: inherit;
        text-decoration: none;
        &:hover {
          font-weight: bolder;
        }
      }
    }
  }
}