@import "../abstract/variables";
.table {
  border-collapse: collapse;
  width: 100%;
  .table-data-row {
    border-bottom: 1px solid $lightGray;
    height: 40px;
  }
  .table-data-date {
    padding: 8px;
  }
  .table-data-member {
    padding: 8px;
  }
  .table-data-products {
    color: $blueSky;
  }
}