.grid-container {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 70px 1fr;
  grid-template-areas:
      'side-menu header header'
      'side-menu main main';
  height: 100vh;

  .header {
    grid-area: header;
  }

  .side-menu {
    grid-area: side-menu;
  }

  .main {
    grid-area: main;
  }
}

