.grid-container {
  display: grid;
  grid-template-columns: 300px auto 200px;
  grid-template-rows: 100px calc(100vh - 350px) 100px;
  grid-template-areas: "menu header header" "menu main right" "menu main right" "menu footer footer";
  grid-gap: 10px;
  padding: 10px;
  background-color: #00b7ff;
}
.grid-container .item1 {
  grid-area: header;
}
.grid-container .item2 {
  grid-area: menu;
}
.grid-container .item3 {
  grid-area: main;
}
.grid-container .item4 {
  grid-area: right;
}
.grid-container .item5 {
  grid-area: footer;
}
.grid-container .grid-item {
  font-size: 30px;
  text-align: center;
  padding: 20px;
  background-color: lightgray;
}

/*# sourceMappingURL=container.css.map */
